@page "/home"
@layout EmptyLayout
<style>
    .input-group-text {
        width: 80px;
    }

    .top {
        background-color: red;
        margin-left: -50px;
        margin-right: -50px;
        height: 200px;
        margin-bottom: 32px;
    }

    .max {
        min-width: 300px;
        max-width: 600px;
        margin: 0 auto;
    }

    .btn {
        border-radius: 0;
        width: 300px;
        margin-top: 32px;
    }

    img {
        width: 150px;
        margin: 0 auto;
    }
</style>

<div class="container-fluid">
    <div>

        <div class="row top">
            <img src="assets/labrasalogo.png" />
        </div>

        <div class="row">
            <button class="btn btn-danger col-12">PRODUTOS</button>
        </div>

        <div class="row">
            <button class="btn btn-danger col-12">FUNCIONARIOS</button>
        </div>

        <div class="row">
            <button class="btn btn-danger col-12">VENDAS</button>
        </div>

        <div class="row">
            <button class="btn btn-danger col-12">CONTAS</button>
        </div>

        <div class="row">
            <button class="btn btn-danger col-12">DASHBOARD</button>
        </div>

    </div>

</div>
